
h3{
    color: magenta;
}
p{
    color: blueviolet;
}
.page-title{
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}
.page-title{
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

